@model ForumProject.ViewModels.RegisterViewModel


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Registration</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">Register</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
 }
